[DEFAULT]
PrependPrompt = "Be generous with mispellings when I ask about things but don't warn me about it."

[ANSWER]
PrependPrompt = "Be generous with mispellings and match things phoenetically if needed when I ask about things,but don't warn me about it."

[SUMMARY]
PrependPrompt = "Be concise and do what is asked in one or 2 sentences. And also list a few relevant key words from the doc in a seperate sentence."

[OPTIONS]
CaseSensitive = False
MaxResults =
RelativeFileSummariesPath = relative_summaries_file_path.json
RelativeFileStorePath = relative_storage_directory/docs