[DEFAULT]
PrependPrompt = "Give the the full file paths surrounded by single quotes in your answer. And be generous with mispellings when I ask about things but don't warn me about it."

[ANSWER]
PrependPrompt = "Be generous with mispellings when I ask about things but don't warn me about it."

[SUMMARY]
PrependPrompt =

[Options]
CaseSensitive = False
MaxResults =
