[DEFAULT]
PrependPrompt = "Give the the full file paths surrounded by backticks, such as `/apps/files/file.txt` And be generous with mispellings when I ask about things but don't warn me about it."

[ANSWER]
PrependPrompt = "Be generous with mispellings and match things phoenetically if needed when I ask about things,but don't warn me about it."

[SUMMARY]
PrependPrompt = "Be concise and do what is asked in one or 2 sentences. And also list a few few relevant key words from the doc in a seperate sentence."

[OPTIONS]
CaseSensitive = False
MaxResults =
RelativeFileSummariesPath = file_summaries.json
RelativeFileStorePath = filebot-store-000/turbosrc-docs